@charset "UTF-8";
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidde;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
ul,
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a {
  list-style: none;
}

ul {
  list-style: none;
}

.footer-email {
  margin-right: 12px;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.container {
  width: 1600px;
  margin: 0 auto;
}

.header-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-container {
  width: 1200px;
  margin: 0 auto;
}

.header {
  padding: 24px 0 25px 0;
}

.header-left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 523px;
}

.header-span-web {
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-span-studio {
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.header-ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-left: 91px;
  width: 286px;
}

.nav-link::after {
  content: "";
  position: absolute;
  top: 44px;
  left: 0;
  width: 0;
  height: 100%;
  height: 4px;
  flex-shrink: 0;
  border-radius: 2px;
  transition: all 0.5s;
}

.nav-link:hover::after {
  width: 100%;
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-right {
  display: flex;
  justify-content: space-between;
  width: 333px;
  /*margin-left: 341px;*/
}

.header-contact-email {
  display: flex;
  width: 142px;
  height: 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.header-contact-email:hover {
  display: flex;
  width: 142px;
  height: 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.header-contact-email {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.header-contact-email:hover {
  display: flex;
  width: 142px;
  height: 16px;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
}

.main-hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../foto/Imgbisnes.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
}

.main-hero-h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.main-hero-btn {
  width: 216px;
  height: 50px;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.96px;
  border: none;
} /*переваги*/
.features {
  padding: 94px 0;
}

.main-features {
  display: flex;
  justify-content: space-between;
}

.main-features-item {
  width: 270px;
}

.main-thumb-features {
  height: 120px;
  width: 270px;
  border-radius: 4px;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.m .features-subtitla {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: normal;
}

.main-features-paragraf {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.42px;
}

/*robota*/
.main-section-robota {
  text-align: center;
  margin-bottom: 94px;
  justify-content: center;
  text-align: center;
  width: 1600px;
}

.robota-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.robota-thumbs {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  width: 1170px;
  height: 294px;
}

.robota-thumb {
  margin: 10px;
  border-radius: 4px;
  position: relative;
  margin-top: 118px;
}

.robota-figcaption {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  margin: 0;
  padding: 27px;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.main-section-comanda {
  flex-shrink: 0;
  height: 708px;
  width: 1600px;
  border-radius: [object Object] px;
  padding-top: 94px;
  padding-left: 215px;
  padding-right: 215px;
}

.comanda-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.comanda-portfolio {
  display: flex;
  text-align: center;
}

.portfolio-li-people {
  height: 428px;
  width: 270px;
  border-radius: [object Object] px;
  width: 270px;
  height: 428px;
  flex-shrink: 0;
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}

.li-p-name {
  margin-top: 30px;
  margin-bottom: 10px;
}

.main-comanda-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.client-h2 {
  margin-top: 94px;
  margin-bottom: 50px;
}

.client-ul {
  display: flex;
  text-align: center;
  margin-left: 215px;
}

.li-div {
  height: 92px;
  width: 170px;
  margin-right: 30px;
  margin-bottom: 94px;
}

.li-div-six {
  height: 92px;
  width: 170px;
  border-radius: [object Object] px;
  margin-bottom: 94px;
}

.div-img-logo {
  width: 106px;
  height: 60px;
  margin-top: 16px;
  flex-shrink: 0;
}

.footer {
  padding: 60px 215px 60px;
  max-width: 1600px;
  max-height: 252px;
}

.studia {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-p-information {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  margin-top: 20px;
}

.footer-a-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.footer-a-tel {
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}

.footer-email {
  width: 358px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
}

.footer-form {
  text-align: right;
}

.subscrib-bth {
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.96px;
}

.subscrib-bth:hover,
.subscrib-bth:focus {
  transition: background-color 2s ease, color 3s linear 2s;
  background-color: blue;
  background-color: red;
  background-color: purple;
}
.nav-link::after,
.main-hero-btn,
.div-img-logo:hover,
.subscrib-bth {
  background-color: #2196f3;
}

.header-span-web,
.header-nav-link:hover,
.header-contact-email:hover {
  color: #2196f3;
}

.header-contact-email,
.main-features-paragraf,
.li-p-profesiy {
  color: #757575;
}

.header-span-studio,
.header-nav-link,
.m .features-subtitla,
.robota-h2,
.li-p-name {
  color: #212121;
}

.main-hero-h1,
.main-hero-btn,
.robota-thumb,
.robota-figcaption,
.studia,
.footer-p-information,
.subscrib-bth {
  color: #fff;
}

.li-div,
.li-div-six,
.footer-email {
  border: 1px solid rgb(175, 177, 184);
}

.main-hero-btn,
.footer-email,
.subscrib-bth {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.main-thumb-features,
.portfolio-li-people {
  background-color: rgb(255, 255, 255);
}

.footer-a-email,
.footer-a-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-email {
  background: rgba(33, 150, 243, 0);
}

.robota-figcaption {
  background-color: rgba(47, 48, 58, 0.8);
}

.footer {
  background-color: #2f303a;
}

.header-span-studio,
.header-nav-link,
.header-contact-email,
.main-hero-h1,
.main-hero-btn,
.m .features-subtitla,
.robota-h2,
.robota-figcaption,
.comanda-h2,
.client-h2,
.studia,
.footer-p-information,
.footer-a-email,
.footer-a-tel,
.subscrib-bth {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.main-section-comanda {
  background-color: #afb1b8;
}

.header-span-web {
  font-style: normal;
  font-family: "Raleway", sans-serif;
  font-style: normal;
} /*# sourceMappingURL=main.css.map */

@media (max-width: 768px) {
  nav {
    order: 1;
  }
  label {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
    cursor: pointer;
  }
  label span,
  label span::before,
  label span::after {
    content: "";
    display: block;
    width: 25px;
    height: 2px;
    background-color: black;
    position: absolute;
    right: 0;
  }
  label span::before {
    top: -8px;
  }
  label span::after {
    top: 8px;
  }
  label span {
    top: 15px;
  }
  .header-ul {
    display: none;
  }
  input[type="checkbox"]:checked ~ .header-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }
  .header-ul {
    position: absolute;
    top: 100px;
    width: 25%;
    background-color: rgba(235, 11, 22, 0.676);
    right: 0;
  }
  .header-nav-link {
    margin: 15px;
  }
  input[type="checkbox"]:checked ~ label span {
    transform: rotate(-45deg);
  }
  input[type="checkbox"]:checked ~ label span::before {
    top: 0;
    transform: rotate(0);
  }
  input[type="checkbox"]:checked ~ label span::after {
    top: 0;
    transform: rotate(90deg);
  }

  .main-hero-h1 {
    width: 360px;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px; /* 161.538% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
    margin: 0 auto;
  }
  .main-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../foto/Headerimg.png");
    width: 768px;
    height: 400px;
  }
  .main-hero-btn {
    width: 200px;
    height: 50px;
  }
  .container {
    width: 768px;
    height: 3225px;
  }
}
@media (max-width: 425px) {
  .features content-container {
    width: 425px;
  }
  .main-features {
    display: none;
  }
  .main-hero-btn {
    width: 145px;
    height: 50px;
  }
  .main-hero-h1 {
    width: 360px;
    color: #fff;

    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: 42px; /* 161.538% */
    letter-spacing: 1.56px;
    text-transform: uppercase;
  }
  .container {
    width: 425px;
    height: 603px;
  }
  .main-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("foto/Header imgtelefohero.png");
    width: 4425pxpx;
    height: 400px;
  }
  .header {
    width: 425px;
  }
}
